<div class="row nouvelleligne" style="margin-bottom: 30px;">
    <div class="col-lg-12">
        « Chez nos boules de poils » est une pension canine conviviale située à romagny près de Mortain dans la Manche
        Besoin de partir en vacances, d’aller travailler, ou simplement lors de vos déplacements. Confiez moi votre
        toutou.
        (Pension Ouverte toute L’année)
    </div>
</div>

<div class="row nouvelleligne">
    <div class="col-lg-4">
        <img class="rounded-circle"
            src="../../assets/bien-etre.jpg"
            alt="Generic placeholder image" width="140" height="140">
        <h2>Bien être</h2>
        <p>Les Chiens ont un terrain de plus de 2000m2 Comme espace commun avec jeux à volonté, en plus de promenades
            sur la
            voie verte
            Chaque chien a son espace personnel qui se compose d’un Cabanon et de sa courette pour pouvoir se reposer et
            manger
            avec tranquillité
        </p>
    </div>


    <div class="col-lg-4">
        <img class="rounded-circle"
            src="../../assets/info.jpg"
            alt="Generic placeholder image" width="140" height="140">
        <h2>Places limitées</h2>
        <p>Attention places limitées pensez à réserver à l’avance (moins de 5 chiens)
            Cela me permet de passer un maximum de temps avec chaque chien, afin de m’assurer de leur bien être et de
            pouvoir
            m’occuper correctement de chacun.
            *les chiens dangereux et fugueurs ne sont pas acceptés </p>
    </div>


    <!-- Three columns of text below the carousel -->

    <div class="col-lg-4">
        <img class="rounded-circle"
            src="../../assets/presence.jpg"
            alt="Generic placeholder image" width="140" height="140">
        <h2>Présence</h2>
        <p>La maison d’habitation est située à quelques mètres permettant une présence et surveillance de tous les
            instants
        </p>
    </div>



    <div class="col-lg-4">
        <img class="rounded-circle"
            src="../../assets/clinique.jpg"
            alt="Generic placeholder image" width="140" height="140">
        <h2>À proximité d'une clinique</h2>
        <p>En cas de besoin, « la clinique Vétérinaire des quatre vents »se situe à 7km si nécessaire, les frais
            resteront à la
            charge de son propriétaire.
        </p>
    </div>

</div><!-- /.row -->



<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Réglementation </h2>

        <p class="lead">
            Vous devez fournir sa nourriture pr le séjour afin de garder ses habitudes de repas et de ne pas perturber
            son
            transit.
            vous pouvez également emmener ses affaires personnelles( jouets, couverture, panier .. )si vous le souhaitez
            pour
            qu’il se sente comme à la maison.
            Votre toutou sera d’autant plus rassuré de garder ses repères.
            Impératif: Votre Chien devra être identifié.</p>

        <p class="lead">Ses vaccins devront être à jour (CHPL) toux de chenil conseillée pour la région.
            Votre chien sera également protégé par un anti parasitaire avant le séjour afin d’assurer sa santé et le bon
            état des
            lieux. (Vermifugé et traité contre les puces).</p>

        <p> Carnet de santé obligatoire!</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid" data-src="../../../node_modules/holderjs/holder.js/500x500/auto" alt="500x500"
            style="max-width: 100%; width:500px;  height: auto;"
            src="../../assets/img1.jpg"
            data-holder-rendered="true">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Tarifs par cabanon </h2>
        <ul class="list-group">
            <li class="list-group-item">Pour 1 chien : 13 € par nuit</li>
            <li class="list-group-item">Pour 2 chiens: 19 € par nuit</li>
            <li class="list-group-item">Semaine: 169 € les 2 semaines pour un chien soit une nuit offerte
                acompte de 30% à verser à la réservation et le reste sur place à l’arrivée du chien.</li>
        </ul>
        <p class="lead">
            Je me réserve le droit de refuser l’entrée à un chien en cas de maladie, d’agressivité et d’instabilité ..)
            Le propriétaire s’engage évidement à venir rechercher son animal comme prévu.</p>
        <p></p>
        <p class="lead">*Possibilité de venir chercher votre chien à votre domicile à - de 30km de la pension (pour les
            tarifs me consulter)</p>

    </div>
    <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid" data-src="../../../node_modules/holderjs/holder.js/500x500/auto" alt="500x500"
        src="../../assets/img2.jpg"
        data-holder-rendered="true" style="max-width: 100%; width:500px;  height: auto;">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Plume et moi vous attendons avec impatience!</h2>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="../../../node_modules/holderjs/holder.js/500x500/auto" alt="500x500"
        src="../../assets/img3.jpg"
        data-holder-rendered="true" style="max-width: 100%; width:500px;  height: auto;">
    </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->