<header style="margin-bottom:30px;">
  <nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" routerLink="/accueil">Chez nos boules de poils</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/accueil" routerLinkActive="active">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>

    </div>
    <app-login-menu></app-login-menu>
  </nav>
</header>

<main role="main">

  <!-- Marketing messaging and featurettes
================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <router-outlet></router-outlet>
  </div><!-- /.container -->

  <!-- FOOTER -->
  <footer class="container">
    <p>© 2020 Chez nos boules de poils </p>
  </footer>
</main>

<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./Chez nos boules de poils_files/jquery-3.2.1.slim.min.js.téléchargement"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
</script>
<script src="./Chez nos boules de poils_files/popper.min.js.téléchargement"></script>
<script src="./Chez nos boules de poils_files/bootstrap.min.js.téléchargement"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="./Chez nos boules de poils_files/holder.min.js.téléchargement"></script>



<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none"
  style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;">
  <defs>
    <style type="text/css"></style>
  </defs><text x="0" y="25"
    style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text>
</svg>




<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none"
  style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;">
  <defs>
    <style type="text/css"></style>
  </defs><text x="0" y="25"
    style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text>
</svg>