<div class="content" role="main">

<!-- A l'attention du webmaster : ne pas modifier les deux lignes ci dessous -->
<a class="button" routerLink="/contact" routerLinkActive="activebutton">Contact</a>
<router-outlet></router-outlet>

  <p>« Chez nos boules de poils » est une pension canine conviviale située à romagny près de Mortain dans la Manche
    Besoin de partir en vacances, d’aller travailler, ou simplement lors de vos déplacements.. confiez moi votre toutou.
    (Pension Ouverte toute L’année)</p>


  <p>Les Chiens ont un terrain de plus de 2000m2 Comme espace commun avec jeux à volonté, en plus de promenades sur la
    voie verte
    Chaque chien a son espace personnel qui se compose d’un Cabanon et de sa courette pour pouvoir se reposer et manger
    avec tranquillité
    ( Photo abris et courette )</p>
  <p>Attention places limitées pensez à réserver à l’avance (moins de 5 chiens)
    Cela me permet de passer un maximum de temps avec chaque chien, afin de m’assurer de leur bien être et de pouvoir
    m’occuper correctement de chacun.
    *les chiens dangereux et fugueurs ne sont pas acceptés </p>

  <p>Réglementation :
    Vous devez fournir sa nourriture pr le séjour afin de garder ses habitudes de repas et de ne pas perturber son
    transit.
    vous pouvez également emmener ses affaires personnelles( jouets, couverture, panier .. )si vous le souhaitez pour
    qu’il se sente comme à la maison.
    Votre toutou sera d’autant plus rassuré de garder ses repères.
    Impératif: Votre Chien devra être identifié.</p>

  <p>Ses vaccins devront être à jour (CHPL) toux de chenil conseillée pour la région.
    Votre chien sera également protégé par un anti parasitaire avant le séjour afin d’assurer sa santé et le bon état des
    lieux. (Vermifugé et traité contre les puces).</p>
 <p> Carnet de santé obligatoire!</p>
 <p>
  En cas de besoin, « la clinique Vétérinaire des quatre vents »se situe à 7km si nécessaire, les frais resteront à la
  charge de son propriétaire.
 </p>
 <p>De plus, la maison d’habitation est située à quelques mètres permettant une présence et surveillance de tous les
  instants</p> 
  <p>  Tarifs par cabanon:
    -Pour 1 chien: 13e par nuit
    -Pour 2 chiens: 19e par nuit
    -Semaine: 169e les 2 semaines pour un chien soit une nuit offerte
    acompte de 30% à verser à la réservation et le reste sur place à l’arrivée du chien.
    Je me réserve le droit de refuser l’entrée à un chien en cas de maladie, d’agressivité et d’instabilité ..)
    Le propriétaire s’engage évidement à venir rechercher son animal comme prévu.</p>



  <p>*Possibilité de venir chercher votre chien à votre domicile à - de 30km de la pension (pour les tarifs me consulter)</p>

  <p>Plume et moi vous attendons avec impatience!</p>



</div>

